<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SSET College Library</title>
    <link rel="icon" href="llogo.jpg" type="image/x-icon">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/logina.css">
</head>

<body>

    <header>

        <div class="container">

            <a href="#">SSET College Library</a>

            <nav>
                <a href="/signup">Home</a>
                <a href="/about">About us</a>
                <a href="/contact">Contact</a>

                
            </nav>

        </div>

    </header>


            <main>
                <section id="section-2">
            <section class="sign">

                <h4>Login</h4>
                <form action="/login" method="post">
                    <div class="input-group-2">
                        <input type="text" id="name" name="name"  required><!-- required is used to fill the text compulsory -->
                        <label for="name">Name</label>
                    </div>
                    <div class="input-group-2">
                        <input type="password" id="password" required name="password">
                        <label for="password">Password</label>
                    </div>
                    <div class="submit-section-2">
                       <a href="/dash"><input type="submit"class="submit-button-2"  ></a><!-- required is used to fill the text compulsory -->
                    </div>
                </form>
            </section>
        </section>
            </main>

            
            <footer>
                Design and Develope by <span>GROUP-3</span>
            </footer>
        
            <script src="js/logina.js"></script>

</body>
</html>